executor{
  name = 'awsbatch'
  submitRateLimit = '1 sec'
}

process{
  queue = 'maestro3-small-machines'
  container = '665945310045.dkr.ecr.us-east-1.amazonaws.com/nrgene-base:1.0'
  withLabel: bwaAlignment {
    cpus = 16
    memory = '12 GB'
  }
  withLabel: markDuplicates {
    memory = '15 GB'
  }
  withLabel: variantDiscovery {
    memory = '12 GB'
  }

}

aws{
  batch.volumes= '/aws_batch_root:/tmp'
  region = 'us-east-1'
}

trace.enabled = true
report.enabled = true
timeline.enabled = true
