executor {
    name = 'local'
    cpus = 10
}

docker{
  enabled = true
  fixOwnership = true
  runOptions = '-u $(id -u):$(id -g)'
}

process {
    errorStrategy = 'finish'
    withLabel: bwaAlignment {
        cpus = 4
        memory = '6 GB'
    }
    withLabel: popPhasing {
        cpus = 4
        memory = '6 GB'
    }
    withLabel: markDuplicates {
        memory = '6 GB'
    }
    withLabel: variantDiscovery {
        memory = '6 GB'
    }
}

trace.enabled = true
report.enabled = true
timeline.enabled = true